@import url(../node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Kelly+Slab&display=swap");
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }
  html *, body * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

::-moz-selection {
  background: #61f330;
  color: black; }

::selection {
  background: #61f330;
  color: black; }

::-moz-selection {
  background: #61f330;
  color: black; }

canvas {
  display: block; }

body {
  position: relative;
  background: linear-gradient(75deg, #3a3a49, #030211);
  background-image: linear-gradient(75deg, #3a3a49, #030211);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  overflow: hidden; }

.page-container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.content-area {
  width: 100%;
  height: 100%; }

.container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 0 25%; }

canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1; }

header {
  width: 100%;
  padding: 2.5rem;
  z-index: 10;
  position: fixed;
  top: 0; }
  header .logo-area .site-logo {
    width: 75px;
    height: auto; }

h1, h2, h3, h4, h3, h6 {
  font-family: 'Kelly Slab', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 0.2em;
  margin-top: 0.75em; }

h1 {
  font-size: 5rem;
  color: #fbf500;
  text-shadow: -3px 3px 0 #44107a, -6px 6px 0 #c61256;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10;
  display: inline-block; }

body {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  color: black;
  font-size: 2rem;
  line-height: 1.5em; }

p {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone; }

.selected {
  background-color: #c61256;
  color: white;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  padding: 0 0.5rem; }
  .selected a {
    color: #9833f5;
    background-color: black; }

.purple-link {
  color: #9833f5;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff1361), to(#44107a));
  background-image: linear-gradient(90deg, #ff1361 0%, #44107a 100%);
  background-repeat: no-repeat; }
  .purple-link.with-background {
    color: black;
    background-color: #fbf500;
    text-shadow: 0 0 5px transparent; }
    .purple-link.with-background:hover {
      color: #fbf500;
      background-color: transparent;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }

a {
  color: #fbf500;
  padding: 0 10px 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#61f330), to(#54ffe5));
  background-image: linear-gradient(90deg, #61f330 0%, #54ffe5 100%);
  background-repeat: no-repeat;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-size: 100% 0.2em;
  background-position: 0 103%;
  font-weight: 700; }
  a:hover {
    text-decoration: none;
    background-size: 100% 104%;
    color: #61f330; }

.portfolio-slider {
  margin-left: -25vw;
  margin-right: -25vw;
  overflow-x: hidden;
  padding: 50px 0; }
  .portfolio-slider .portfolio-padding {
    width: 15%;
    height: 100%;
    display: inline-block; }

.card {
  position: relative;
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 0 3rem;
  z-index: 5; }
  .card .text {
    color: white;
    padding: 20px;
    z-index: 6; }
  .card .image-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid #fbf500;
    z-index: 5;
    width: 250px;
    height: 250px; }
  .card .violet {
    width: 250px;
    height: 250px;
    background-color: #44107a;
    z-index: 4; }
  .card .magenta {
    width: 250px;
    height: 250px;
    background-color: #c61256;
    z-index: 3; }

.transition-fade {
  -webkit-transition: 0.5s cubic-bezier(0.7, 1.1, 0.75, 1);
  transition: 0.5s cubic-bezier(0.7, 1.1, 0.75, 1);
  opacity: 1; }

.transition-expand {
  -webkit-transition: all 0.6s cubic-bezier(0.45, -0.5, 0.5, 1.5);
  transition: all 0.6s cubic-bezier(0.45, -0.5, 0.5, 1.5);
  opacity: 1; }

.transition-slide-right {
  -webkit-transition: all 0.7s cubic-bezier(0.45, -0.5, 0.5, 1.8);
  transition: all 0.7s cubic-bezier(0.45, -0.5, 0.5, 1.8);
  opacity: 1;
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s; }

html.is-animating .transition-fade {
  opacity: 0; }

html.is-animating .transition-expand {
  text-shadow: -24px 24px 0 #44107a, -48px 48px 0 #c61256;
  -webkit-transform: translate(12px, -12px);
          transform: translate(12px, -12px);
  opacity: 0;
  -webkit-animation: flashIn 0.6s;
  animation: flash 0.6s; }

html.is-animating .transition-slide-right {
  -webkit-transform: translate(20%, 0);
          transform: translate(20%, 0);
  opacity: 0; }

html.is-rendering .transition-expand {
  -webkit-animation: flashIn 0.6s;
  animation: flashIn 0.6s; }

@-webkit-keyframes flash {
  0% {
    opacity: 1; }
  10% {
    opacity: .1; }
  20% {
    opacity: 1; }
  30% {
    opacity: .1; }
  40% {
    opacity: 1; }
  50% {
    opacity: .1; }
  60% {
    opacity: 1; }
  70% {
    opacity: .1; }
  80% {
    opacity: 1; }
  90% {
    opacity: .1; }
  100% {
    opacity: 0; } }

@keyframes flash {
  0% {
    opacity: 1; }
  10% {
    opacity: .1; }
  20% {
    opacity: 1; }
  30% {
    opacity: .1; }
  40% {
    opacity: 1; }
  50% {
    opacity: .1; }
  60% {
    opacity: 1; }
  70% {
    opacity: .1; }
  80% {
    opacity: 1; }
  90% {
    opacity: .1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes flashIn {
  0% {
    opacity: .1; }
  10% {
    opacity: 1; }
  20% {
    opacity: .1; }
  30% {
    opacity: 1; }
  40% {
    opacity: .1; }
  50% {
    opacity: 1; }
  60% {
    opacity: .1; }
  70% {
    opacity: 1; }
  80% {
    opacity: .1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes flashIn {
  0% {
    opacity: .1; }
  10% {
    opacity: 1; }
  20% {
    opacity: .1; }
  30% {
    opacity: 1; }
  40% {
    opacity: .1; }
  50% {
    opacity: 1; }
  60% {
    opacity: .1; }
  70% {
    opacity: 1; }
  80% {
    opacity: .1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }
/*# sourceMappingURL=main.css.map */