html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    * {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

canvas {
    display: block;
}

body {
    position: relative;
    background: linear-gradient(75deg, #3a3a49, #030211);
    background-attachment: fixed;
    color: #fff;
}

#about-me{
    position: absolute;
    width: 100%;
    height: 100%;
}