header {
    width: 100%;
    padding: 2.5rem;
    z-index: 10;
    position: fixed;
    top: 0;

    .logo-area {

        .site-logo {
            width: 75px;
            height: auto;
        }
    }
}