
.card {
  position: relative;
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 0 3rem;
  // border: 10px solid $neon-yellow;
  // box-shadow: -3px 3px 0 $neon-violet, -6px 6px 0 $neon-magenta;
  z-index: 5;

  .text {
    color: white;
    padding: 20px;
    z-index: 6;
  }

  .image-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid $neon-yellow;
    z-index: 5;
    width: 250px;
    height: 250px;
  }

  .violet {
    width: 250px;
    height: 250px;
    background-color: $neon-violet;
    z-index: 4;
  }

  .magenta {
    width: 250px;
    height: 250px;
    background-color: $neon-magenta;
    z-index: 3;
  }

  .yellow {
    width: 250px;
    height: 250px;
    background-color: $neon-magenta;
    z-index: 5;
  }
}