@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Notable&display=swap');

h1, h2, h3, h4, h3, h6 {
    font-family: 'Notable', Helvetica, Arial, sans-serif;
    line-height: 1.2em;
    margin-bottom: 0.2em;
    margin-top: 0.75em;
}

h1 {
    font-size: 5rem;
    color: $neon-red;
    text-shadow: -3px 3px 0 $neon-yellow, -6px 6px 0 $neon-pink;
    transition: all 0.3s ease-out;
    z-index: 10;

    &:hover {
        text-shadow: -6px 6px 0 $neon-yellow, -12px 12px 0 $neon-pink;
        transform: translate(3px, -3px);
    }
}

body {
    font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
    color: $neon-red;
    font-size: 2rem;
    line-height: 1.5em;
}

// .selected {
//     background-color: $neon-green;
//     color: black;

//     a {
//         color: $neon-green;
//         background-color: black;
//     }
// }

a {
    color: $neon-yellow;
    padding: 0 10px 5px;
    background-image: linear-gradient(90deg, $neon-yellow 0%, $neon-red 100%);
    background-repeat: no-repeat;
    text-decoration: none;
    transition: all 0.3s;
    background-size: 100% 0.1em;
    background-position: 0 100%;

    &:hover {
        text-decoration: none;
        background-size: 100% 100%;
        color: black;
    }
}