@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Notable&display=swap');

h1, h2, h3, h4, h3, h6 {
    font-family: 'Notable', Helvetica, Arial, sans-serif;
    line-height: 1.2em;
}

h1 {
    font-size: 5rem;
    color: $neon-red;
    text-shadow: -3px 3px 0 $neon-yellow, -6px 6px 0 $neon-pink;
    transition: all 0.3s ease-out;
    z-index: 10;

    &:hover {
        text-shadow: -6px 6px 0 $neon-yellow, -12px 12px 0 $neon-pink;
        transform: translate(3px, -3px);
    }
}

body {
    font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
    color: $neon-hot-pink;
    font-size: 2rem;
    line-height: 1.5em;
}

a {
    color: black;
    background: $neon-yellow;
    padding: 0 10px 5px;;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
        text-decoration: underline;
    }
}