// Colours
$neon-yellow: #fbf500;
$neon-red: #ff003c;
$neon-pink:  #c651b3;
$neon-purple: #44107a;
$neon-hot-pink: #ff1361;
$neon-green: #46ff05;
$neon-orange: #ff7e00;
$neon-magenta: #c61256;
$gradient-dark: #030211;
$gradient-light: #3a3a49;